@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600,700");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #525f7f;
  --accent-color: #5e72e4;
  --danger-color: #f5365c;
  --muted-color: #8898aa;
  --dark-purple: #32325d;
  --black: #000;
  --white: #fff;
  font-size: 62.5%;
}

body {
  background-color: #f8f9fe;
  /* overflow: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
  font-size: 1rem;
  display: block;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /* overflow: visible; */
  box-sizing: content-box;
  height: 0;
}

.main {
  max-width: 1100px;
  min-height: 100vh;
  margin: auto;
}

a {
  text-decoration: none;
}
ul,
li {
  text-decoration: none;
  list-style-type: none;
}

/* buttons */
.btn {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.8em 1.5em;
  margin: 30px 10px 30px 0;
  border-radius: 4px;
  border: 1px solid;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn-outline {
  color: var(--accent-color);
  border-color: var(--accent-color);
  background-color: transparent;
}

.btn-outline:hover {
  color: var(--white);
  background-color: var(--accent-color);
  transform: translateY(-1.5px);
  box-shadow: 0px 0px 1px 0px;
}

.btn-danger {
  color: var(--white);
  background-color: var(--danger-color);
}

.btn-danger:hover {
  transform: translateY(-1.5px);
}

.btn-follow,
.btn-share {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
}

.btn-muted {
  width: 100%;
  color: var(--white);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  opacity: 0.65;
  margin: 2em 0 0 0;
}

.campaign-card .btn-danger {
  width: 100%;
  margin-bottom: 10px;
}

.button-selector .btn {
  border: none;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--white);
  width: 100%;
  box-shadow: 0px 3px 15px -10px;
}

.button-selector {
  display: flex;
}

.button-selector .selected {
  background-color: var(--accent-color);
  color: var(--white);
}

.btn-pitch {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.5em 0.75em;
  background-color: var(--accent-color);
  border: var(--accent-color);
  color: var(--white);
  margin: 0;
}

.btn-social {
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  height: 40px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-twitter {
  color: #fff;
  border-color: #1da1f2;
  background-color: #1da1f2;
}

.btn-facebook {
  color: #fff;
  border-color: #3b5999;
  background-color: #3b5999;
}
.btn-chrome {
  color: #fff;
  border-color: #ea4c89;
  background-color: #ea4c89;
}

.btn-social a {
  color: var(--white);
}

/* navbar */
nav {
  font-size: 1.3rem;
  background-color: var(--accent-color);
  height: 76px;
  max-width: 1150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 2em;
}

nav #logo {
  color: var(--white);
  font-weight: 600;
}

nav .image-container {
  overflow: hidden;
  background-color: var(--accent-color);
}

nav ul {
  height: 100%;
  background-color: antiquewhite;
}

img {
  width: 100%;
  max-height: 100%;
}
.image-container {
  height: 100%;
}

.badge {
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5em 0.75em;
}

.badge-active {
  border-radius: 7px;
  background-color: rgb(251, 220, 218);
}

.box {
  display: flex;
  gap: 3em;
}

.left {
  flex-basis: 67%;
  /* background-color: #5e72e4; */
}
.left > a {
  font-size: 1.4rem;
  color: var(--black);
  background-color: transparent;
  padding: 0.5em 0;
  width: max-content;
  flex-basis: 2%;
  transition: all 0.3s ease 0s;
  display: inline-block;
}
.left > a:hover {
  color: var(--accent-color);
}

.right {
  flex-basis: 33%;
  /* background-color: aqua; */
}

/* Cards */

.card {
  background-color: var(--white);
  font-size: 1.6rem;
  padding: 1.75em 1.75em;
  border-radius: 10px;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
  margin-bottom: 30px;
}

/* default card */
.default-card {
  /* background-color: lightblue; */
  display: grid;
  align-items: center;
  grid-template-columns: 0.4fr 2fr 1fr;
}

.default-card-footer {
  display: flex;
  gap: 1em;
  padding: 1em 5em;
}

.card-image-container {
  width: 80px;
  height: 80px;
  margin: 2em;
  overflow: hidden;
  border-radius: 100%;
}

.desc-container {
  /* background-color: aquamarine; */
  max-width: 50em;
}

.desc-container h1 {
  font-size: 4rem;
  font-weight: 400;
}

.desc-container span {
  color: var(--muted-color);
  font-size: 1.6rem;
  font-weight: 100;
  padding: 0.3125em 0;
  display: block;
}

.desc-container h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
  padding: 0.25em 0;
}

.desc-container p {
  font-weight: 400;
  padding: 0.5em 0;
}

/* video card */
.video-player {
  background-color: var(--white);
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
  border-radius: 10px;
  height: 460px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.youtube-player {
  background-color: gray;
  flex-basis: 84%;
}

.youtube-player iframe {
  border: none;
}

.video-player-footer {
  font-size: 1.4rem;
  color: var(--accent-color);
  flex-basis: 14%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.video-player-footer a {
  color: var(--accent-color);
}

.video-player-footer div {
  margin: auto;
}

.video-player-footer-third {
  display: flex;
  justify-content: space-between;
}
.video-player-footer-third i {
  padding: 0 0.2em;
}

/* deal card */
.deal-card {
  background-color: var(--white);
  font-size: 1.6rem;
  padding: 1.75em 1.75em;
  border-radius: 10px;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}

.deal-card-body h1 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary-color);
}

.deal-card-body h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.deal-card-details {
  color: #8898aa;
}

.deal-card-details li {
  font-size: 1.4rem;
  font-weight: 200;
}
.deal-card-details span {
  display: block;
  margin-top: 20px;
}

/* campaign card */

.campaign-card section h1 {
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--accent-color);
  padding: 5px 0;
}

.campaign-card section h2 {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--primary-color);
  padding: 5px 0;
}

.campaign-card section h3 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black);
  padding: 5px 0;
}

.campaign-card section p {
  font-size: 1.4rem;
  text-align: center;
  color: var(--primary-color);
}

/* pitch card */

.pitch-card {
  color: var(--primary-color);
  border-radius: 2px;
}

.pitch-card hr {
  margin: 3rem 0;
}

.pitch-card-header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 600;
}

.pitch-card-header h1 {
  font-size: 1.6rem;
  display: inline-block;
  margin-right: auto;
}

.pitch-card-body h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 10px;
}

.pitch-card-body p {
  font-size: 1.4rem;
}

.pitch-card-body h1 {
  font-size: 2.75rem;
  font-weight: 700;
  color: var(--dark-purple);
  /* padding-bottom: 20px; */
}

.pitch-card-body h2 {
  font-size: 1.75rem;
  font-weight: 800;
  color: var(--dark-purple);
}

.pitch-card-body li {
  font-size: 1.3rem;
  font-weight: 400;
  list-style-type: disc;
  margin-left: 40px;
}

/* founder card */

.founder {
  margin-bottom: 30px;
}

.founder-card {
  font-size: 1.6rem;
  width: 220px;
  max-height: 350px;
  background-color: var(--white);
  display: inline-block;
  padding: 25px 40px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
  text-align: center;
  border-radius: 10px;
}

.founder-card h3 {
  font-size: 1.75rem;
  padding-top: 20px;
  text-align: center;
  color: var(--dark-purple);
  font-weight: 600;
  margin: 10px 0;
}

.founder-card h4 {
  font-size: 1.7rem;
  color: var(--muted-color);
  margin-bottom: 10px;
}

.founder-card-img {
  border-radius: 100%;
  overflow: hidden;
  height: 140px;
}

.founder-card-social {
  display: flex;
  justify-content: space-between;
}

.founder-card-social div:nth-child(1) {
  /* background-color: #32325d;
  height: 20px;
  width: 20px; */
}

.founder {
  display: flex;
  gap: 2em;
}

/* detail card */

.details-card {
}

.details-card-header {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.details-card-third {
  color: var(--primary-color);
}
.details-card-fourth {
  color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.card-stats h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
}

.card-stats h3 {
  font-size: 1.2rem;
  color: var(--muted-color);
  font-weight: 600;
  text-transform: uppercase;
}

.card-stats section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-stats section div:nth-child(1) {
  margin-right: auto;
}

.card-stats section .btn-social {
  height: 50px;
  background-color: var(--danger-color);
}

.card-stats:nth-child(2) section .btn-social {
  background-color: rgb(255, 95, 36);
}

.details-card-fifth h3 {
  font-size: 1.6rem;
  margin-bottom: 50px;
}

.details-card-fifth h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.details-card-fifth p {
  color: var(--muted-color);
  font-weight: 200;
  margin-bottom: 30px;
  line-height: 1.75em;
}

@media screen and (max-width: 1200px) {
  .box {
    flex-direction: column-reverse;
  }

  .main {
    max-width: 900px;
  }
  nav {
    max-width: 900px;
  }
}

@media screen and (max-width: 1000px) {
  .box {
    flex-direction: column-reverse;
  }

  .main {
    max-width: 600px;
  }

  nav {
    max-width: 600px;
  }
}
